{% extends 'model-page.html' %}

{% block content %}

    <div align="center">
        <h2>EVENTO</h2>

        <form action="submit" method="POST"> {% csrf_token %}
            <input type="number" name="id" value="{{ evento.id }}" hidden>
            <label>Titulo:</label>
            <br>
            <input type="text" name="titulo" size="23" value="{{ evento.titulo }}">
            <br><br>
            <label>Data do Evento:</label>
            <br>
            <input type="datetime-local" name="data_evento" value="{{ evento.get_data_evento_alter }}">
            <br><br>
            <label>Local:</label>
            <br>
            <input type="text" name="local" size="23" value="{{ evento.local }}">
            <br><br>
            <label>Descrição:</label>
            <br>
            <textarea name="descricao" rows="5" cols="24">{{ evento.descricao }}</textarea>
            <br><br>

            <button type="submit" >Salvar</button>

            <a href="/"><button type="button">Voltar</button> </a href>
        </form>
    </div>
{% endblock %}